@model BackEndCapstone.Models.MapViewModel
@using BackEndCapstone.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<style>
    .container {
        height: 100%;
        width: 100%;
    }

    #map {
        height: 566px;
        width: 1000px;
        position: relative;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-right: 300px;
    }

    #panel {
        position: relative;
        left: 62px;
        height: 100%;
        width: 200px;
        background-color: white;
        position: absolute;
        z-index: 2;
    }

    .hidden {
        display: none;
    }
</style>


<form class="form-inline my-2 my-lg-0" id="tourNameForm">
    <input class="form-control mr-sm-2" id="tourNameInput" type="text" name="tourName" placeholder="Enter a tour name">
    <input id="userIdInput" type="hidden" value=@Model.ApplicationUserId />
    <button class="btn btn-secondary my-2 my-sm-0 compSearch" id="tourNameButton">Submit</button>
</form>

<p id="tourName" class="hidden"></p>


<div class="row">
    <div id="map"></div>
    <div id="panel">
        <p></p>
    </div>
</div>
<div id="cards"></div>
<script src="~/js/Map.js">IDBCursor</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBedz54CszWCt94vm9gZGAYJdQC5v487nI&callback=initMap"></script>